.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vw;
}

.Meta {
  display: flex;
  align-content: space-around;
  background-color: grey;
}
.charName {
  width: 40vw;
}
.otherMeta {
  display:flex;
  align-content: space-around;
  width: 60vw;
  background-color: white;
}

.otherMeta h3 {
  padding-left: 2vw;
}

.page1 {
  display:flex;
  justify-content: space-around;
}

.col {
  display: flex;
  flex-direction: column;
  width: 30vw;
}

.statusHead {
  display: flex;
  justify-content: space-around;
}

.armorClass {
  border-style: solid;
  border-width: .1vw;
  background-color: white;
  width: 9vw;
}

.statusBox {
  border-style: solid;
  border-color: #EEEEEE;
  padding: 5px;
  background-color: lightgrey;
}

.statBox {
  border-style: solid;
  border-color: black;
  border-width: 1px;
  background-color: white;
  width: 9vw;
}

.statBoxWide {
  border-style: solid;
  border-color: black;
  border-width: 1px;
  background-color: white;
}
.statFooter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.statBoxHalfWide {
  display:flex;
  flex-direction: column;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  background-color: white;
  width:14vw;
  justify-self: start;
}
.col3 {
  display: flex;
  flex-direction: column;
  width: 30vw;
}

.stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #EEEEEE;
  width: 32vw;
}

.statBlock1 {
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 25vw;
  border-style: dotted;
}

.statBlock2 {
  display:flex;
  width: 30vw;
  align-items: center;
  justify-content: space-between;
  padding: 1vw;
  border-top-style: groove;
}

.statNums {
  background: white;
  border-style: ridge;
  width:8vw;
  display:flex;
  flex-direction: column;
}
.skillNums {
  display:flex;
  flex-direction: column;
  align-self: start;
  align-items: flex-start;
  width: 20vw;
}
.statusHead {
  display: flex;
  justify-content: space-between;
}

.otherProficiencies {
  width:100%;
  border-style: solid;
}

h3 {
  font-size: 11px;
}

h4 {
  font-size: 10px;
  color: #DDDDDD;
}

.col3 {
  display:flex;
  flex-direction: column;
  width: 30vw;
  background: #EEEEEE;
}

.AttackAndSpellcasting {
border-style: solid;
}

.boxHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.bioBox {
  display: flex;
  flex-direction: column;
  background: #EEEEEE;
  width: 30vw;
}

.bioBox p {
  border-style: solid;
  padding:1em;
  background: white;
  width: 28vw;
}

p3 {
  font-size: 10px;
}
p2 {
  font-size: 12px;
}
p1 {
  font-size: 15px;
}

.EquipmentInventory {
  display: flex;
  flex-direction: column;
  border-style: solid;
}
.eqListItem {
  display:flex;
  align-content: space-around;
}
